# Node dependencies
node_modules
npm-debug.log
yarn-error.log

# Production build output (we build inside container anyway)
build

# Git & editor files
.git
.gitignore
.DS_Store
.vscode
.idea

# Docker files
Dockerfile
docker-compose.yml

# Env files
.env
