name: Backend CI/CD

on:
  push:
    branches:
      - master # Or your main branch
    paths:
      - 'backend/**' # Triggers only on changes in the backend folder

jobs:
  build:
    name: Build Backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      # Add your pytest command here if you have tests
      # - name: Run tests
      #   working-directory: ./backend
      #   run: pytest

  # sonarqube:
  #   name: SonarQube Scan
  #   runs-on: ubuntu-latest
  #   needs: build-and-test
  #   steps:
  #   - uses: actions/checkout@v2
  #     with:
  #       fetch-depth: 0
  #   - uses: sonarsource/sonarqube-scan-action@master
  #     env:
  #       SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  #       SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}

  docker:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./backend 
          file: ./backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/simplenotes-backend:${{ github.run_id }}

  update-newtag-in-helm:
    name: Update Helm Chart
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GIT_PAT }}

      - name: Update new tag in Helm chart
        run: |
          sed -i '/simplenotes-backend/!b;n;s/tag: .*/tag: "${{ github.run_id }}"/' helm/simplenotes-app-chart/values.yaml

      - name: Commit and push changes
        run: |
          git config --local user.email "ariefshaik001@gmail.com"
          git config --local user.name "ariefshaik7"
          git add helm/simplenotes-app-chart/values.yaml
          git commit -m "ci: update backend image tag to ${{ github.run_id }}"
          git push

